* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navbar*/
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}


.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


button {
    width: 100%;
    padding: 10px;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 200px;
}

.btn-signup {
    margin-top: 20px;
    background-color: var(--card-color);
}

.btn-login {
    margin-top: 20px;
    background-color: var(--card-color);
}

button:hover {
    background-color: #cad1cc;
}

.btn-login:hover {
    background-color: #cad1cc;
}

.logo {
    font-size: 24px;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}



/*home*/
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    background: url(1.png) no-repeat;
}

.home-content {
    max-width: 700px;

}

.home-content h3 {
    font-size: 25px;
    font-weight: 700;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 700;
    margin: -3px 0;

    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    color: rgb(rgb(228, 228, 228));
}

.home-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;

    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    color: rgb(rgb(228, 228, 228));
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease forw;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;

    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan,
        0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;

}


/*about*/
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0.5rem;
    margin-top: 220px;
}

.about-img img {
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2 {
    font-size: 60px;

}

.about-text h2 span {
    color: #0ef;

}

.about-text h4 {
    font-size: 25px;
    font-weight: 600;
    color: rgb(rgb(228, 228, 228));
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: rgb(rgb(228, 228, 228));
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 12px 24px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease forw;

    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}

.icon a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}



/*contact*/
.Contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    padding-left: 1px;
    margin-top: 220px;

}

.Contact-text {
    flex: 1;
    text-align: center;
}

.Contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.Contact-text h2 span {
    color: #0ef;
}

.Contact-text h4 {
    margin: 15px 0;
    color: rgb(rgb(228, 228, 228));
    font-size: 20px;
    font-weight: 600;
}

.Contact-text p {
    color: rgb(rgb(228, 228, 228));
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.Contact-list {
    margin-bottom: 2rem;
}

.Contact-list li {
    margin-bottom: 10px;
    display: block;
}

.Contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.Contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons i {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 0 10px;
    transition: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

.contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form {
    flex: 1;
    text-align: center;
    position: relative;
}

.contact-form form input,
form textarea {
    border: 1px solid #fff;
    outline: none;
    width: 80%;
    padding: 10px;
    background: var(--card-color);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
    border-radius: 5px;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #091b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan,
        0 0 50px cyan, 0 0 100px cyan,
        0 0 200px cyan;
}







.line p {
    width: 100%;
    text-align: center;
    background: #333;
    font-weight: 300;
    margin-top: 70px;
}







.services-container {
    display: flex;
    flex-direction: column;

}

/*Testimonial*/
.testimonial-container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;

}

.testimonial-card {
    background-color: var(--card-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}







/*Light Mode*/
:root {
    --bg-color: #fff;
    --text-color: #333;
    --link-color: #007bff;
    --card-color: #f9f9f9;
}

/*Dark Mode*/
:root[data-theme="dark"] {
    --bg-color: #081b29;
    --text-color: #fff;
    --link-color: #6c8ae4;
    --card-color: #03263e;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}



.service-card {
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}






.nav-links li a {
    color: var(--link-color);
}

.nav-links li a:hover {
    color: #0ef;
}

/*Toggle*/
.theme-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.theme-switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-switch .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: background-color 0.4s;
}

.theme-switch .toggle:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.4s;
}

.theme-switch input[type="checkbox"]:checked+.toggle {
    background-color: #007bff;
}

.theme-switch input[type="checkbox"]:checked+.toggle:before {
    transform: translateX(20px);
}


.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2, 1rem;
}

.top i {
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}